﻿
@{
    ViewData["Title"] = "CDN Lab One";
}

<h2>CDN Lab One</h2>

<h1>@ViewBag.Message</h1>

<table class="table">
        <tr>
            <th>Image One</th>
            <th>Image Two</th>
        </tr>
    <tr>
        <td><img src="@ViewBag.ImageOne" /></td>
        <td><img src="@ViewBag.ImageTwo" /></td>
    </tr>
</table>