﻿
@{
    ViewData["Title"] = "CDN Lab Three";
}

<h2>CDN Lab Three</h2>

<h1>@ViewBag.Message</h1>

<table class="table">
    <tr>
        <th>Image </th>
    </tr>
    <tr>
        <td><img src="@ViewBag.ImageTwo" /></td>
    </tr>
</table>