﻿@{
    ViewData["Title"] = "Home Page";
}


<h1>@ViewBag.Message</h1>

<table>
    <thead>
        <tr>
            <td>Image One</td>
            <td>Image Two</td>
        </tr>
    </thead>
    <tr>
        <td><img src="@ViewBag.ImageOne" /></td>
        <td><img src="@ViewBag.ImageTwo" /></td>
    </tr>
</table>